!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => ENV['ASSETS_ENDPOINT'] + '/css/bootstrap.min.css'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/jquery.min.js'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/popper.min.js'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/bootstrap.min.js'}
    %title
      Evergreen Updates
  %body
    .container
      .row
        .col-lg-12
          %h1
            Evergreen Updates
      .row
        .col-md-6
          %h4
            Channels
          .container
            .row
              %h5
                Canary
            .row
              %h5
                Beta
            .row
              %h5
                General Available

        .col-md-6
          %h4
            Current Essentials
          %table.table
            %tr
              %th
                Plugin ID
              %th
                Version
            - manifest['plugins']['essential'].each do |essential|
              - details = manifest['plugins']['versions'].find { |i| i['name'] == essential['id']}
              %tr
                %td
                  = essential['id']
                %td
                  %a{:href => details['url']}
                    = details['version']
