!!!
%html
  %head
    %title
      Evergreen Update Service
  %body
    .container
      .row
        %center
          %h1
            Evergreen Update Service
      .row
        .col-md-5
          %strong
            Actions
          .container
            .row
              %form{:method => :POST, :action => '/updates/ping'}
                %button{:type => :submit}
                  Ping
