!!!
%html
  %head
    %link{:rel => 'stylesheet', :href => ENV['ASSETS_ENDPOINT'] + '/css/bootstrap.min.css'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/jquery.min.js'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/popper.min.js'}
    %script{:src => ENV['ASSETS_ENDPOINT'] + '/js/bootstrap.min.js'}
    %title
      Evergreen Update Service
  %body
    .container
      .row
        %center
          %h1
            Evergreen Update Service
      .row
        .col-md-5
